<footer class="footer bg-light py-3 mt-auto">

    <div class="d-flex justify-content-center">
        <span class="text-muted">Follow us on</span>
    </div>

    <div class="d-flex justify-content-center mb-3">
        <a href="#" class="fa fa-facebook"></a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-instagram"></a>
    </div>

    <div class="d-flex justify-content-center">
        <span class="text-muted">&copy; Bank Of Thor 2021</span>
    </div>
</footer>