<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/homepage.css">
<div class="bg d-flex justify-content-center">
    <div>
        <img src="/images/Revenue.jpeg" alt="" srcset="">
        <div class="centered"><strong>Together<br><span class="tagline">We Are Worthy!</span></strong></div>
    </div>
</div>
<div class="bg followups d-flex justify-content-center">
    <a href="/account" class="btn btn-outline-success">View Account</a> <a href="/transfer" class="btn btn-success">Transfer Money</a>
</div>